body {
  font-family: 'Roboto', sans-serif;
}

.first {
  background-color: #1f2937;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.links {
  display: flex;
  margin-right: 150px;
  gap: 20px;
}

.description {
  background-color: #1f2937;
  margin-top: -30px;
  color: #e5e7eb;
  display: flex;
  flex: auto;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
}

.onecontent {
  width: 400px;
  height: auto;
}

.info {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.new {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header1 {
  font-size: 48px;
  color: #f9faf8;
}

#header2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.imagetext {
  width: 130px;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

#cite {
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
  text-align: right;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}


button {
  background-color: #3882f6;
  border: 2px solid white;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}

.ad {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.adcontent {
  background-color: #3882f6;
  border-radius: 5px;
  display: flex;
  flex: auto;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.footer {
  background-color: #1f2937;
  color: white;
  display: flex;
}