body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color:rgb(10, 5, 65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  margin-right: 150px;
  gap: 20px;
}

.description {
  background-color:rgb(10, 5, 65);
  margin-top: -30px;
  color: white;
}

.quote {
  background-color:rgb(230, 230, 230);
}

a {
  text-decoration: none;
  color: white;
}


button {
  background-color: rgb(58, 109, 247);
  border: 2px solid white;
  color: white;
  width: 80px;
  border-radius: 5px;
}

.ad {
  color: white;
}

.content {
  background-color: rgb(58, 109, 247);
}

.footer {
  background-color: rgb(10, 5, 65);
  color: white;
  display: flex;
}